<div>
    <ul>
        <li *ngFor='let hero of heroes' class='hero-list-item' (click)='onSelect(hero)'>
        <a routerLink='/detail/{{ hero.id }}'>
            {{ hero.name | uppercase}}
        </a>
            <button (click)='delete(hero)'>Remove</button>
        </li>
    </ul>
    <div>
        <label>New Hero Name:
            <input #heroName />
        </label>
    </div>
    <div>
        <label>New Hero Power:
            <input #heroPower />
        </label>
    </div>
    <button (click)='add(heroName.value, heroPower.value); heroName.value=""; heroPower.value=""'>
    Add Hero 
    </button>
</div>
