.hero-div {
    width: 300px;
    height: auto;
    margin: 0 auto;
    font-size: 115%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.hero-list-item {
    background-color: white;
    width: 200px;
    height: auto;
    margin: 10px auto;
    text-align: center;
    font-size: 180%;
    border: 0px transparent;
    border-radius: 0.2em 0.25em 0.25em 0.2em;
    color: rgb(250, 188, 31);
}